.errorsMessage{
    background-color: transparent;
    border: 1px solid #ae4343;
    border-radius: 4px;
    margin-top: 18px;
    line-height: 24px;
    padding-bottom: 10px;
}

.errorsHeading{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #c03636;
    margin-top: -5px;
    margin-left: 16px;
    margin-bottom: 2px;
    font-size: 17px;
    gap: 10px;
}
ul{
    margin-left: 34px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
li{
    margin-bottom: -6px;
    display: list-item;
    padding-left: 4px;
}
.Box {
    margin-top: 18px;
    border: 1px solid #a09e9e;
    border-radius: 4px;
    display: inline-block;
    padding-left:  20px;
    padding-right: 32px;

}

.BoxHeader{
    text-align: left;
    margin-left: auto;
    margin-top: 14px;
    margin-bottom: 17.5px;
}

.user_form{
    align-items: start;
    display: flex;
    flex-direction: column;
}
label{
    font-size: 13px;
    font-weight: bold ;
    margin-bottom: 4px;
}
.input{
    margin-bottom: 15px;
    width: 102%;
    height: 26px;
    border: 1.5px solid #7d7b7b;
    border-radius: 3px;
}
input::placeholder{
    padding-left: 5px;
}
.createAccountBtn{
    align-items: center;
    width: 104%;
    padding: 6.3px;
    border-color: transparent;
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    background-color: #ae4343;
}
.boxPara{
    font-size: 11.6px;
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
    line-height: 17px;
}
.span{
    font-weight: 100;
}
.boxPara2{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #7d7b7b;
}
.paraLine{
    width: 85px;
    height: 0.1px;
    background-color: #dcdada;
}
.AmazonLoginTop {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    border: 0.03px solid #b4b1b1;
    text-shadow: 0 0 1px;
    border-radius: 4px;
    align-items: center;
    padding: 6px 10px 5px;
    margin-bottom: 20px;
    background-image: linear-gradient(rgb(250, 248, 248) 50%, rgb(229, 229, 229) 70%);
}
.boxLine{
    margin-bottom: 13px;
    width: 100%;
    height: 1.7px;
    background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(222, 226, 226) 25%, rgb(227, 227, 227) 75%, rgb(255, 255, 255) 100%);
    opacity: 0.8;
}
.boxLastPara{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
}



