.box{

    margin-top: 13px;
    display: block;
    width: 24vw;
    height: 50%;
    background-color: aquamarine;
    border: 0.5px solid #8d8c8c;
    border-radius: 4px;
    padding-left: 26px;
    flex-direction: column;
    text-align: left;
}
.box_header{
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 4px;
}
.box_para{
    font-size: 13px;
    margin: 0px 0 14px 0;
}